main > section {
    margin: 10px 0;
}
/* 날짜 선택 */
#current-date {
    position: relative;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--gothic-bold);
    font-size: 16px;
    border: 0;
    border-radius: 6px;
    outline: none;
    margin: 0 0 -30px 10px;
    box-shadow: 2px 5px 10px #0003;
    z-index: 1;
}

#act-header {
    display: flex;
    gap: 10px;
}
/* 대사량 */
.act-kcal-container {
    position: relative;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: linear-gradient(115deg, white 49.9%, #eee 49.9%, #fafafa 51.1%, white);
}
.act-kcal-container > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 32px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 10px #0003;
}
.act-kcal {
    flex: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.act-kcal > h3 {
    grid-column: 1/3;
    font-size: 18px;
    text-align: center;
    color: var(--main-color-dark);
}
.act-kcal > span {
    align-self: flex-end;
    font-size: 14px;
    margin: 0;
}
.act-kcal > span.act-kcal-value {
    justify-self: flex-end;
    align-self: flex-end;
    font-family: var(--gothic-bold);
    font-size: 45px;
    color: var(--main-color);
}
.act-recommended-calorie {
    width: 100%;
    font-size: 13px;
    color: var(--another-color);
}
.act-sub-kcal {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.act-sub-kcal > .act-kcal {
    width: 100%;
}
.act-sub-kcal > .act-kcal > span.act-kcal-value {
    font-size: 32px;
}

.act-hours-alert {
    flex: none;
    width: 260px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}
.act-hours-alert > i {
    font-size: 48px;
}
.act-hours-alert > div > h4 {

}
.act-hours-value {
    font-size: 32px;
    color: var(--main-color);
    margin: 0 5px;
}
.act-hours-alert > div > h5 {
    font-size: 14px;
    color: gray;
}

/*  자주쓰는 활동 저장리스트 */
.act-sidebar {
    flex: none;
    width: 300px;
    gap: 10px;
}
.act-sidebar > h4 {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}
.act-sidebar > h4 > i {
    margin: 0 5px 0 0;
}

/* 저장된 템플릿 스타일 */
.saved-templates {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.template-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 10px;
    border: 0px solid #e0e0e0;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}
.template-item span {
    font-size: 16px;
    color: #333;
}

.template-actions {
    display: flex;
    gap: 10px;
    align-items: center;
}
.template-delete-btn,
.template-edit-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 5px;
}
.template-edit-btn {
    background-color: #41cd61;
    color: white;
}
.template-edit-btn:hover {
    background-color: #2a9f49;
}
.template-delete-btn {
    background-color: #ff4d4d;
    color: white;
}
.template-delete-btn:hover {
    background-color: #d93636;
}
.template-delete-btn img,
.template-edit-btn img {
    width: 20px;
    height: 20px;
}

/* 활동 테이블, 활동 저장리스트 */
.act-container {
    display: flex;
    width: 100%;
    gap: 10px;
}

/* 테이블 스타일 */
.act-template {
    position: relative;
    flex: 1;
    padding: 0;
}

#add-act {
    position: absolute;
    top: 7px;
    right: 7px;
    bottom: 10px;
    width: 26px;
    height: 26px;
    color: black;
    background: white;
    z-index: 1;
}
#add-act:hover {
    color: white;
    background: var(--main-color)
}

.act-table{
    border-collapse: collapse;
    width: 100%;
    box-shadow: 2px 5px 10px #0003;
    background: white;
    border: 0;
    overflow: hidden;
}

.act-table > thead {
    height: 40px;
    font-family: var(--gothic-bold);
    color: white;
    background: var(--text-color);
}

.act-table th {
    padding: 10px 40px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}
.act-table td {
    padding: 0;
    text-align: center;
    border-bottom: 0px solid #dddddd;
        /* font-size: 14px;
        padding: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; */
    
}
.act-table tbody {
    height: 400px;
}
.act-table tbody tr {
    font-family: var(--gothic-bold);
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    padding: 0;
}
.act-table tbody tr:nth-of-type(even) {
    background-color:#f3f3f3;
}

.template-share-save {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.template-save-btn,
.template-share-btn {
    width: 110px;
    padding: 10px 20px;
    background-color: #F4761B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 5px 10px #0003;
    margin-bottom: 15px;
}

.template-save-btn:hover {
    background-color: #b8721c;
}


/* 모달창 스타일 */
.act-modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center; 
    align-items: center;
    padding-top: 60px;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.act-modal-content {
    background-color: #ffffff;
    margin: 5% auto; 
    padding: 30px;
    padding-top: 13px;
    border: 1px solid #888;
    width: 700px;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* 그림자 */
}

.act-modal-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
}

.act-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.act-close:hover,
.act-close:focus {
    color: #000;
    cursor: pointer;
}

.act-search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* margin: 5px 150px 15px; */
    gap: 0;
    width: 100%;
}

.act-search input[type="text"] {
    padding: 10px;
    border: 2px solid #F4761B;
    border-radius: 5px 0 0 5px;
    width: 80%;
    font-family: inherit;
    box-shadow: 2px 5px 10px #0003;
}

.act-search button {
    background-color: #F4761B;
    color: white;
    border: none;
    padding: 10px;
    padding-left: 9px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 39px;
    box-shadow: 2px 5px 10px #0003;
}

.act-search button:hover {
    background-color: #b8721c;
}

 /* 클릭 선택시 이펙트 */
#actTbody tr {
     cursor: pointer;
    padding: 10px;
}
    
#actTbody tr.selected {
    background-color: #a2a2a3;
    color: white;
}


/* 활동테이블, 시간입력 묶기*/
.activity-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
    /* background-color: white;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
    margin-bottom: 10px; */
}

/* 모달 활동 테이블 스타일 */
.activity-table {
    flex: 7;
    border-collapse: collapse;
    border-radius: 10px;
    margin-bottom: 0px; /*테이블과 아래 요소 사이? 간격*/
    background-color: #eeeeee;
    /* border-radius: 7px; */
    overflow: hidden;
    box-shadow: 2px 5px 10px #0003;
    width: 100px;
}

#activityTable {
    width: 100%;
}

#activityTable th {
    background-color: #F4761B;
    color: white;
    border: 1px solid white;
    height: 35px;
}

#activityTable td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    /* border-top-left-radius: 1px solid; */
}

/* 시간입력 스타일*/
/* .activity-details {
    flex: 1;
    min-width: 48%;
    max-width: 48%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 15px;
    border: 1px solid #f9f9f9;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
} */

.activity-details {
     /* margin-top: 20px; */
    /* padding: 10px;
    background-color: black; */ 
    flex: 3;
    display: flex;
    flex-direction: column;
}

.act-selected-activity,
.aype-time {
    flex: 3;
    /* margin-right: 20%; */
    background-color: white;
    padding: 20px;
    border: 1px solid #eeeeee;
    box-shadow: 2px 5px 10px #0003;
    border-radius: 10px;
}

.act-selected-activity {
    margin-bottom: 10px;
}

.act-selected-activity p{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: larger;
}

.act-type-time label {
    font-weight: bold;
    font-size: larger;
}

.activity-details h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.activity-details input[type="number"] {
    padding: 10px;
    border:  #eeeeee;
    border-bottom: 2px solid #F4761B;
    width: 50%;
    text-align: center;
    font-size: 30px;
    outline: none;  
}

.instructions {
    margin-top: 20px;
    font-size: 0.9em;
    color: #555;
}

/* 저장 버튼 스타일 */
.act-save {
    display: block;
    margin: 10px 0px 0px 0px; 
    padding: 10px 20px;
    width: 100%;
    background-color: #F4761B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 10px 20px #0003;
    font-size: 17px;
}

.act-save:hover {
    background-color: #b8721c;
}


/* 페이지네이션 스타일 */
.act-modal-pagination {
    width: 68%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
    border: 1px solid #0003;
}

.page-number {
    display: inline-block;
    margin: 0px;
    width: 26px;
    height: 30px;
    border-radius: 20%;
    text-align: center;
    font-size: 13px;
    line-height: 25px;
    font-weight: bold;
    cursor: pointer;
    background: white;
}
/* .act-modal-pagination {
    display: flex;
    align-items: center;
    color: #383838;
    padding: 5px 0px;
    position: relative;
} */

ul li {
    display: inline-block;
    margin: 0px;
    width: 20px;
    height: 30px;
    border-radius: 20%;
    text-align: center;
    font-size: 13px;
    line-height: 32px;
    font-weight: bold;
    cursor: pointer;

}

ul li.active {
    color: #fff;
    background-image: linear-gradient(#F4761B, #F4761B);
    background-repeat: no-repeat;
}

/* 버튼 스타일 */
/* .act-btn1, .act-btn2 {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: #383838;
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.act-btn1 img {
    width: 24px;
    margin-right: 10px;
    size: 20cap;
}

.act-btn2 img{  
    width: 24px;
    margin-left: 10px;
    transform: rotate(180deg);
} */

/* 유저 입력 부분 스타일 */
.user-input {
    /* padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.1);
    width: 50%; */
    flex: 1;
    display: flex;
    gap: 1px;
    background-color: white;
    padding: 10px 10px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
}

/* .user-input h3 {
    margin-bottom: 25px;
    color: #F4761B;
} */

.user-input-row {
    display: flex;
    justify-content: space-between; /* 입력 필드 간 공간 분배 */
    gap: 60px; /* 입력 필드 간 간격 */
    margin-bottom: 10px;
}

.user-input label {
    font-weight: bold;
}


.user-input input{
    width: calc(120% - 20px);
    padding: 10px;
    margin-bottom: 1px;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #F4761B;
}
.user-input input[type="text"], .user-input input[type="number"] {
    flex: 1;
}

.add-btn {
    background-color: #F4761B;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 10px 20px #0003;
    margin-left: 50px;
}

.add-btn:hover {
    background-color: #b8721c;
}
