main > section {
    margin: 10px 0;
}
body {
    background-image: url('../resources/images/activity.jpg'); /* 배경 이미지 경로 */
    background-size: cover; /* 이미지를 화면에 꽉 차게 */
    background-position: center; /* 이미지를 가운데 정렬 */
    background-repeat: no-repeat; /* 이미지 반복 안 함 */
}
/* 날짜 선택 */
#current-date {
    position: relative;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--gothic-bold);
    font-size: 16px;
    border: 0;
    border-radius: 6px;
    outline: none;
    margin: 0 0 -30px 10px;
    box-shadow: 2px 5px 10px #0003;
    z-index: 1;
}

#act-header {
    display: flex;
    gap: 10px;
}
/* 대사량 */
.act-kcal-container {
    position: relative;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: linear-gradient(115deg, white 49.9%, #eee 49.9%, #fafafa 51.1%, white);
}
.act-kcal-container > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 32px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 10px #0003;
}
.act-kcal {
    flex: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.act-kcal > h3 {
    grid-column: 1/3;
    font-size: 18px;
    text-align: center;
    color: var(--main-color-dark);
    margin-top: 20px;
}
.act-kcal > span {
    align-self: flex-end;
    font-size: 14px;
    margin: 0;
}
.act-kcal > span.act-kcal-value {
    justify-self: flex-end;
    align-self: flex-end;
    font-family: var(--gothic-bold);
    font-size: 45px;
    color: var(--main-color);
}
.act-recommended-calorie {
    width: 100%;
    /* font-size: 13px; */
    /* height: 60px; */
}
.act-recommended-calorie > h3 {
    grid-column: 1/3;
    font-size: 18px;
    text-align: center;
    color: var(--main-color-dark);
}
.act-recommended-calorie > span {
    /* align-self: flex-end; */
    text-align: center;
    font-size: 14px;
    margin: 0;
}
.act-recommended-calorie > span.act-recommended-value {
    /* justify-self: flex-end;
    align-self: flex-end; */
    font-family: var(--gothic-bold);
    font-size: 32px;
    color: var(--main-color);
}

.act-sub-kcal {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.act-sub-kcal > .act-kcal {
    width: 100%;
}
.act-sub-kcal > .act-kcal > span.act-kcal-value {
    font-size: 32px;
}

.act-hours-alert {
    flex: none;
    width: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}
.act-hours-alert > i {
    font-size: 48px;
}
.act-hours-value {
    font-size: 32px;
    color: var(--main-color);
    margin: 0 5px;
}
.act-hours-alert > div > h5 {
    font-size: 14px;
    color: gray;
}

/*  자주쓰는 활동 저장리스트 */
.act-sidebar {
    flex: none;
    width: 300px;
    gap: 10px;
}
.act-sidebar > h4 {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}
.act-sidebar > h4 > i {
    margin: 0 5px 0 0;
}

/* 저장된 템플릿 스타일 */
.saved-templates {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-height: 335px; 
    overflow-y: auto; 
    padding-right: 5px;
}

.template-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 10px;
    border: 0px solid #e0e0e0;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    font-weight: bold;
}
.template-item span {
    font-size: 16px;
    color: #333;
}

.template-actions {
    display: flex;
    gap: 10px;
    align-items: center;
}
.template-delete-btn,
.template-edit-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 5px;
}
.template-edit-btn {
    background-color: #000000;
    color: white;
}
.template-edit-btn:hover {
    color: white;
    background: var(--main-color);
}
.template-delete-btn {
    background-color: #000000;
    color: white;
}
.template-delete-btn:hover {
    color: white;
    background-color: #d93636;
}
.template-delete-btn img,
.template-edit-btn img {
    width: 20px;
    height: 20px;
}


/* 활동 테이블, 활동 저장리스트 */
.act-container {
    display: flex;
    width: 100%;
    gap: 10px;
}

/* 테이블 스타일 */
.act-template {
    position: relative;
    flex: 1;
    padding: 0;
}

#add-act {
    position: absolute;
    top: 7px;
    right: 7px;
    bottom: 10px;
    width: 26px;
    height: 26px;
    color: black;
    background: white;
    z-index: 1;
    cursor: pointer;
}
#add-act:hover {
    color: white;
    background: var(--main-color)
}

.act-table{
    border-collapse: collapse;
    width: 100%;
    box-shadow: 2px 5px 10px #0003;
    background: white;
    border: 0;
    overflow: hidden;
}

.act-table > thead {
    height: 40px;
    font-family: var(--gothic-bold);
    color: white;
    background: var(--text-color);
}

.act-table th {
    padding: 10px 40px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}
.act-table td {
    position: relative;
    padding: 0;
    text-align: center;
    border-bottom: 0px solid #dddddd;
        /* font-size: 14px;
        padding: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; */
}
.act-table button {
    background-color: rgba(244, 27, 27, 0.966);
    color: white;
    border: 0px solid ;
    border-radius: 5px;
    cursor: pointer;
    padding-bottom: 3px;
}
.act-table button:hover {
    background-color: #c42e2e;
}
.act-table tbody {
    height: 400px;
}
.act-table tbody tr {
    position: relative;
    font-family: var(--gothic-bold);
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    padding: 0;
}
.act-table tbody tr:nth-of-type(even) {
    background-color:#f3f3f3;
}

.template-share-save {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.template-save-btn {
    width: 110px;
    padding: 10px 20px;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 5px 10px #0003;
    margin-bottom: 15px;
}

.template-save-btn:hover {
    color: white;
    background: var(--main-color);
}

.template-share-btn:hover {
    color: white;
    background: var(--main-color);
}



/* 모달창 스타일 */

.act-search {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
    border-radius: 25px;
    overflow: hidden;
}
#actSearch {
    flex: 1;
    height: 40px;
    font-size: 16px;
    margin: 0 15px;
}
#search-button {
    flex: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

#search-button img {
    width: 20px;
}


/* 활동테이블, 시간입력 묶기*/
.activity-container {
    display: flex;
    gap: 10px;
}
.table-container {
    flex: 1;
    padding: 0;
}

#activity-table {
    width: 100%;
    height: 100%;
    border-spacing: 0;
    table-layout: fixed;
}
#activity-table th {
    height: 35px;
    background: var(--text-color);
    color: white;
}
#activity-table td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}
.activity-details {
    flex: none;
    width: 200px;
    display: flex;
    flex-direction: column;
}

 /* 클릭 선택시 이펙트 */
#actTbody tr {
    cursor: pointer;
    padding: 10px;
}
#actTbody tr.selected {
    background-color: #a2a2a3;
    color: white;
}

/* 페이지네이션 스타일 */
.act-modal-pagination {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0 0 10px 0;
}
.arrow {
    flex: none;
    width: 36px;
    height: 36px;
    background: #eee;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
#page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.page-number {
    width: 36px;
    height: 36px;
    background: #eee;
    border: 0;
    border-radius: 5px;
}

.act-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.act-detail {
    position: relative;
    background: #eee;
    padding: 10px;
    border-radius: 10px;
}
.act-detail > h3 {
    font-size: 16px;
    color: var(--main-color-dark);
    margin: 0 0 10px 0;
}
.act-detail > p,
.act-detail > input,
.act-detail > select {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--gothic-bold);
    font-size: 18px;
    text-align: center;
    background: white;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin: 0;
    outline: none;
}
#hours {
    height: 100px;
    font-size: 48px;
}
.act-detail > label {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-family: var(--gothic-bold);
}

/* 저장 버튼 스타일 */
#act-save {
    width: 100%;
    margin: auto 0 0 0;
}

ul li {
    display: inline-block;
    margin: 0px;
    width: 20px;
    height: 30px;
    border-radius: 20%;
    text-align: center;
    font-size: 13px;
    line-height: 32px;
    font-weight: bold;
    cursor: pointer;

}

ul li.active {
    color: #fff;
    background-image: linear-gradient(#F4761B, #F4761B);
    background-repeat: no-repeat;
}

/* 버튼 스타일 */
/* .act-btn1, .act-btn2 {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: #383838;
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.act-btn1 img {
    width: 24px;
    margin-right: 10px;
    size: 20cap;
}

.act-btn2 img{  
    width: 24px;
    margin-left: 10px;
    transform: rotate(180deg);
} */

/* 유저 입력 부분 스타일 */
.user-input {
    width: 100%;
}
.user-input > h3 > i {
    font-size: 16px;
    color: gray;
    margin: 0 0 0 5px;
}
.user-input > h3 > i:hover {
    color: black;
}
.user-input-row {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: #eee;
    padding: 10px;
    border-radius: 10px;
}
.user-input input{
    flex: 1;
    width: 0;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
