
/* 전체 페이지 스타일 */
body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 컨테이너 스타일 */
/* main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 900px;
    padding-top: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
    border: 1px solid #eeeeee;
} */

/* 날짜 선택 */
.act-date { 
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 10px 0;
}

input[type="date"] {
   /* background-color: #F4761B; */
   padding: 10px;
   font-family: "Roboto Mono", monospace;
   color: #000000;
   font-size: 15px;
   font-weight: bold;
   border-color: #F4761B;
   outline: none;
   border-radius: 6px;
   box-shadow: 2px 5px 10px #0003;
}


    /* 활동대사량 */
.act-kcal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
    background-color: white;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
    width: 100%;
    margin: 0 0 60px 0; 
    /* height: 125px; */
}

.act-kcal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* align-items: center; */
}

.act-kcal-header h3 {
    font-size: 22px;
    margin: 0;
    color: var(--main-color);
    
}

.act-kcal p {
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
.act-main-kcal {
    font-weight: bold;
    color: var(--main-color);
    font-size: 45px;
}
.act-bmr-container {
    display: flex;
    align-items: center;
    font-weight: 100;
    /* gap: 5px; */
    /* margin-bottom: 50px; */
}


/*테이블 스타일*/

.act-template {
    width: 65%;
    position: relative;
}

.act-table{
    border-collapse: collapse;
    width: 100%;
    box-shadow: 2px 5px 10px #0003;
    background: white;
    border: 0px solid #eeeeee;
    border-radius: 10px;
    overflow: hidden;
}

.act-table thead tr {
    background-color: #F4761B;
    color: #ffffff;
    font-weight: bold;
    position: relative;
}

.act-table th {
    padding: 10px 40px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}
.act-table td {
    padding: 13px 40px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

/* 
.act-table tbody tr {
    border-bottom: 1px solid #dddddd;
} */

.act-table tbody tr:nth-of-type(even) {
    background-color:#f3f3f3;
}

/* 메인 테이블 아래 주황밑줄 */
/* .act-table tbody tr:last-of-type {
    border-bottom:2px solid #F4761B;
} */

/* 추가버튼 스타일*/
.act-table-add {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 3px;
    top: 0;
    transform: translateY(-108%); /* 하.. ㅅㅂ..거참 안되네..*/
}

#add-act {
    border: none;
    background-color: #F4761B;
    color: white;
    font-size: 28px;
    cursor: pointer;
    border-radius: 25%; /* 동그란 버튼 */
    width: 30px;
    height: 30px;
    position: relative;
    box-shadow: 2px 5px 10px #0003;
}

#add-act:hover {
    background-color: #45a049;
}

/* 모달창 스타일 */
.act-modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center; 
    align-items: center;
    padding-top: 60px;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.act-modal-content {
    background-color: #ffffff;
    margin: 5% auto; 
    padding: 30px;
    padding-top: 13px;
    border: 1px solid #888;
    width: 700px;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* 그림자 */
}

.act-modal-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
}

.act-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.act-close:hover,
.act-close:focus {
    color: #000;
    cursor: pointer;
}

.act-search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* margin: 5px 150px 15px; */
    gap: 0;
    width: 100%;
}

.act-search input[type="text"] {
    padding: 10px;
    border: 2px solid #F4761B;
    border-radius: 5px 0 0 5px;
    width: 80%;
    font-family: inherit;
    box-shadow: 2px 5px 10px #0003;
}

.act-search button {
    background-color: #F4761B;
    color: white;
    border: none;
    padding: 10px;
    padding-left: 9px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 39px;
    box-shadow: 2px 5px 10px #0003;
}

.act-search button:hover {
    background-color: #b8721c;
}

 /* 클릭 선택시 이펙트 */
#actTbody tr {
     cursor: pointer;
    padding: 10px;
}
    
#actTbody tr.selected {
    background-color: #a2a2a3;
    color: white;
}


/* 활동테이블, 시간입력 묶기*/
.activity-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
    /* background-color: white;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
    margin-bottom: 10px; */
}

/* 모달 활동 테이블 스타일 */
.activity-table {
    flex: 7;
    border-collapse: collapse;
    border-radius: 10px;
    margin-bottom: 0px; /*테이블과 아래 요소 사이? 간격*/
    background-color: #eeeeee;
    /* border-radius: 7px; */
    overflow: hidden;
    box-shadow: 2px 5px 10px #0003;
    width: 100px;
}

#activityTable {
    width: 100%;
}

#activityTable th {
    background-color: #F4761B;
    color: white;
    border: 1px solid white;
    height: 35px;
}

#activityTable td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    /* border-top-left-radius: 1px solid; */
}

/* 시간입력 스타일*/
/* .activity-details {
    flex: 1;
    min-width: 48%;
    max-width: 48%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 15px;
    border: 1px solid #f9f9f9;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
} */

.activity-details {
     /* margin-top: 20px; */
    /* padding: 10px;
    background-color: black; */ 
    flex: 3;
    display: flex;
    flex-direction: column;
}

.act-selected-activity,
.act-type-time {
    flex: 3;
    /* margin-right: 20%; */
    background-color: white;
    padding: 20px;
    border: 1px solid #eeeeee;
    box-shadow: 2px 5px 10px #0003;
    border-radius: 10px;
}

.act-selected-activity {
    margin-bottom: 10px;
}

.act-selected-activity p{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: larger;
}

.act-type-time label {
    font-weight: bold;
    font-size: larger;
}

.activity-details h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.activity-details input[type="number"] {
    padding: 10px;
    border:  #eeeeee;
    border-bottom: 2px solid #F4761B;
    width: 50%;
    text-align: center;
    font-size: 30px;
    outline: none;  
}

.instructions {
    margin-top: 20px;
    font-size: 0.9em;
    color: #555;
}

/* 저장 버튼 스타일 */
.act-save {
    display: block;
    margin: 10px 0px 0px 0px; 
    padding: 10px 20px;
    width: 100%;
    background-color: #F4761B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 10px 20px #0003;
    font-size: 17px;
}

.act-save:hover {
    background-color: #b8721c;
}


/* 페이지네이션 스타일 */
.act-modal-pagination {
    width: 68%;
    background: linear-gradient(white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
    border: 1px solid #0003;
}

.page-number {
    display: inline-block;
    margin: 0px;
    width: 26px;
    height: 30px;
    border-radius: 20%;
    text-align: center;
    font-size: 13px;
    line-height: 25px;
    font-weight: bold;
    cursor: pointer;
    background: white;
}
/* .act-modal-pagination {
    display: flex;
    align-items: center;
    color: #383838;
    padding: 5px 0px;
    position: relative;
} */

ul li {
    display: inline-block;
    margin: 0px;
    width: 20px;
    height: 30px;
    border-radius: 20%;
    text-align: center;
    font-size: 13px;
    line-height: 32px;
    font-weight: bold;
    cursor: pointer;

}

ul li.active {
    color: #fff;
    background-image: linear-gradient(#F4761B, #F4761B);
    background-repeat: no-repeat;
}

/* 버튼 스타일 */
/* .act-btn1, .act-btn2 {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: #383838;
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.act-btn1 img {
    width: 24px;
    margin-right: 10px;
    size: 20cap;
}

.act-btn2 img{  
    width: 24px;
    margin-left: 10px;
    transform: rotate(180deg);
} */

/* 유저 입력 부분 스타일 */
.user-input {
    /* padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.1);
    width: 50%; */
    flex: 1;
    display: flex;
    gap: 1px;
    background-color: white;
    padding: 10px 10px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
}

/* .user-input h3 {
    margin-bottom: 25px;
    color: #F4761B;
} */

.user-input-row {
    display: flex;
    justify-content: space-between; /* 입력 필드 간 공간 분배 */
    gap: 60px; /* 입력 필드 간 간격 */
    margin-bottom: 10px;
}

.user-input label {
    font-weight: bold;
}


.user-input input{
    width: calc(120% - 20px);
    padding: 10px;
    margin-bottom: 1px;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #F4761B;
}
.user-input input[type="text"], .user-input input[type="number"] {
    flex: 1;
}

.add-btn {
    background-color: #F4761B;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 10px 20px #0003;
    margin-left: 50px;
}

.add-btn:hover {
    background-color: #b8721c;
}
