body {
    background-color: #f4f4f4;
    margin: 0;
}

.admin-qna-view {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(50, 50, 90, );
    transition: transform 0.2s;
}

.admin-qna-view:hover {
    transform: scale(1.01);
}

.admin-qna-view-info {
    margin-bottom: 20px;
}

.admin-qna-view-info table {
    width: 100%;
    border-collapse: collapse;
}

.admin-qna-view-info th,
.admin-qna-view-info td {
    padding: 12px;
    border: 2px solid #dee2e6;
}

.admin-qna-view-info table th {
    width: 12%;
    background-color: #eee;
    color: #495057;
    font-weight: 600;
    font-size: 20px;
}

.admin-qna-view-info table td {
    width: 38%;
    font-size: 20px;
    color: #333;
}

.admin-qna-view-content {
    padding: 20px;
    border: 2px solid #dee2e6;
    border-radius: 10px;
    background-color: #fafafa;
    font-size: 18px;
    color: #333;
    line-height: 1.5;
    min-height: 450px;
}

.admin-qna-view-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.admin-qna-view-buttons a {
    display: flex;
    width: 120px;
}

.admin-qna-view-buttons button {
    flex: 1;
    max-width: 120px;
    height: 45px;
    background-color: var(--text-color);
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 10px rgba(158, 115, 115, 0.1);
}

.admin-qna-view-buttons button:hover {
    background-color: var(--main-color);
    transform: scale(1.05);
}