input {
    display: inline;
    padding: initial;
    border: initial;
    background: transparent;
}

.admin-activities {
    width: 100%;
}

.activities-main {
    width: 95%;
}

.title {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    align-items: center;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.list-control {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.control-button {
    width: 10%;
    height: 40px;
    font-size: 20px;
    border-color: lightslategrey;
    background-color: #f4761b;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 5px 10px #0003;
}

.control-button:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}

.search-category {
    width: 15%;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-width: 2px;
    border-color: lightslategray;
    border-radius: 5px;
    box-shadow: 2px 5px 10px #0003;
}

.list-search {
    width: 45%;
    position: relative;
    margin-left: 10px;
    margin-right: 40px;
    display: inline-block;
}

.list-search input {
    margin: 0px;
    padding: 0 10px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: 2px solid lightslategray;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 5px 10px #0003;
}


.search-button {
    position: absolute;
    right: 0%;
    width: 30%;
    height: 40px;
    font-size: 20px;
    border-color: lightslategrey;
    background-color: #f4761b;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 5px 10px #0003;
}

.activity-list {
    margin-top: 20px;
    width: 100%;
    max-height: 535px;
    overflow-y: auto;
    display: block;
    font-size: 20px;
    box-shadow: 2px 5px 10px #0003;
}

.activity-list table {
    width: 100%;
    border-collapse: collapse;
}

.activity-list th {
    position: sticky;
    top: 0;
    background: lightgray;
    z-index: 1;
}

.activity-list th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid lightslategray;
}

.activity-list td input {
    padding: 0;
    height: 20px;
    text-align: center;
    font-size: 20px;
    border: none;
}

.activity-list-body {
    width: 100%;
}

.activity-list-body input {
    background-color: transparent;
}

.check-box {
    width: 7%;
}

.edit-check-box {
    transform: scale(2);
}

.number {
    width: 8%;
}

.input-activity {
    width: 55%;
}

.edit-input-activity {
    width: 90%;
}

.input-intensity {
    width: 30%;
}

.edit-input-intensity {
    width: 90%;
}