main > section {
    margin: 10px 0;
}
#current-date {
    position: relative;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--gothic-bold);
    font-size: 16px;
    border: 0;
    border-radius: 6px;
    outline: none;
    margin: 0 0 -30px 10px;
    box-shadow: 2px 5px 10px #0003;
    z-index: 1;
}

.diet-kcal > h3 {
    font-size: 18px;
    text-align: center;
    color: var(--main-color-dark);
}

.diet-kcal p {
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.diet-kcal span {
    font-weight: bold;
    color: var(--main-color);
    font-size: 45px;
}



.recommended-intake {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.intake-box {
    flex: 1;
}
.intake-box > h4 {
    text-align: center;
}
.intake-box > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 10px 0;
}
.intake-box > div > div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    transform: rotate(45deg);
}
.intake-box > div > div > span {
    font-family: var(--gothic-bold);
    font-size: 18px;
    color: white;
    transform: rotate(-45deg);
}
.intake-box > div > span {
    font-size: 12px;
    width: 0;
}


#table-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.table-title {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color-dark);
    padding-bottom: 10px;
    border-bottom: 2px dashed #ddd;
    margin-bottom: 10px;
}

.table-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-header > h5 {
    flex: 1;
    font-size: 16px;
    text-align: center;
}
.table-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.table-item {
    width: 100%;
    height: 40px;
    display: flex;
    color: black;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 0;
}
.table-item span {
    flex: 1;
    text-align: center;
    border: none;
}
#diet-total > .table-item {
    color: white;
    background: var(--text-color);
}

.diet-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* 뒷배경 어둡게 */
    padding-top: 60px;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.diet-modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 90%;
    /* 너비를 90%로 변경 */
    max-width: 800px;
    /* 최대 너비를 800px로 변경 */
}

.diet-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.diet-close:hover,
.diet-close:focus {
    color: black;
    text-decoration: none;
}

.search-wrapper {
    position: relative;
    width: 100%;
    /* 검색창 너비 100% */
}

.diet-modalSelect {
    /* width: 30%; 원하는 너비로 설정 */
    /* padding: 10px; 여백 추가 */
    /* font-size: 16px; 글자 크기 */
    color: #333;
    /* 글자 색상 */
    background-color: #fff;
    /* 배경색 */
    border: 1px solid #ccc;
    /* 테두리 색상 */
    border-radius: 4px;
    /* 둥글게 만들기 */
    /* appearance: none; */
    margin-top: 10px;
}

#search-food {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px 40px 10px 10px;
    /* 오른쪽 패딩을 넓게 주어 버튼을 넣을 공간 마련 */
    margin-bottom: 20px;
    border: 2px solid #F4761B;
    border-radius: 5px;
    box-sizing: border-box;
}

#search-button {
    height: 30%;
    position: absolute;
    right: 20px;
    top: 55%;
    transform: translateY(-50%);
    /* 검색 버튼을 수직 가운데 정렬 */
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #F4761B;

}

#search-button img {
    width: 20px;
}

#foodTable {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.diet-Modal-tr1 th,
.diet-Modal-tr1 td {
    border-radius: 10px;
    background-color: #F4761B;
}

#foodTable th,
#foodTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    border-radius: 0;
}

#foodTable td:hover {
    /* background-color: #afafaf; */
    cursor: pointer;
}

.diet-modal-pagination {
    display: flex;
    justify-content: center;
    /* 버튼을 가운데 정렬 */
    align-items: center;
    margin-top: 20px;
    /* 테이블과 페이지네이션 사이의 간격 */
    gap: 40px
}

#prev-button {
    height: 30%;
    /* 검색 버튼을 수직 가운데 정렬 */
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #F4761B;
}

#page-numbers {
    appearance: none;
    background-color: #F4761B;
    border: none;
    background: none;
}

#next-button {
    height: 30%;
    /* 검색 버튼을 수직 가운데 정렬 */
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #F4761B;
}

.diet-details {
    margin: 20px 0;
    border-radius: 5px;
    flex-direction: column;
    line-height: 10px;
}

.diet-details input {
    margin-top: 10px;
    /* 입력 필드 간 간격 조정 */
}

.diet-details h3 {
    color: #F4761B;
}

.modal-add-food {
    padding: 10px 20px;
    background-color: #F4761B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}
.modal-add-food:hover {
    background-color: #b8721c;
}

.diet-info {
    height: 80px;
    text-align: center;
}
.new-food-add {
    color: #F4761B;
}

.diet-save {
    /* display: inline-block; */
    padding: 30px 40px;
    width: auto;
    height: auto;
    background-color: #F4761B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.diet-save:hover {
    background-color: #b8721c;
}

.instructions {
    font-size: 0.9em;
    color: #555;
    margin-top: 20px;
    clear: both;
}


.diet-graphs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.graph {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    background: white;
    padding: 10px 15px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
}
.graph-header {
    width: 80px;
    height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    margin: auto 0 0 0;
}
.graph-header > i {
    font-size: 32px;
}
.graph-body {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.graph-texts {
    width: 100%;
    height: 12px;
    display: flex;
}
.graph-texts > span {
    flex: 1;
    font-size: 10px;
    text-align: center;
}
.graph-body > progress {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.graph-progress::-webkit-progress-bar {
    background: #eeeeee;
}
.graph-progress::-webkit-progress-value {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 1s ease;
}
.graph-progress.ready::-webkit-progress-value {
    transform: scaleX(0);
}
.graph-target {
    height: 20px;
}
.graph-target::-webkit-progress-value {
    background: var(--main-color-dark);
    border-radius: 2px;
}
.graph-current {
    height: 40px;
}
.graph-current::-webkit-progress-value {
    background: var(--main-color-bright);
    border-radius: 4px;
}
/*
.graph:nth-child(1) .graph-current::-webkit-progress-value {
    background: var(--another-color);
}
.graph:nth-child(2) .graph-current::-webkit-progress-value {
    background: var(--sub-color);
}
.graph:nth-child(3) .graph-current::-webkit-progress-value {
    background: var(--dark-color);
}
*/
.graph-line {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: space-between;
}
.graph-line > span {
    width: 1px;
    height: 100%;
    border: 1px dashed white;
}
.graph-line > span:first-child,
.graph-line > span:last-child {
    opacity: 0;
}
.graph-subheader {
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding-top: 14px;
}
.graph-subheader > h5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    background: black;
    border-radius: 3px;
}
.graph-subheader > h5:first-child {
    height: 20px;
}
.graph-subheader > h5:last-child {
    height: 40px;
}

.new-food {
    display: flex;
    justify-content: space-between;
}

.new-food input {
    width: 15%;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid gray;
}

.diet-detail-info {
    display: flex;
}

.diet-info-save {
    position: relative;
    width: 600px;
    top: 50px;
    line-height: 20px;
}