main > section {
    margin: 10px 0;
}
#current-date {
    position: relative;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--gothic-bold);
    font-size: 16px;
    border: 0;
    border-radius: 6px;
    outline: none;
    margin: 0 0 -30px 10px;
    box-shadow: 2px 5px 10px #0003;
    z-index: 1;
}

.diet-kcal > h3 {
    font-size: 18px;
    text-align: center;
    color: var(--main-color-dark);
}
.diet-kcal p {
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
.diet-kcal span {
    font-weight: bold;
    color: var(--main-color);
    font-size: 45px;
}



.recommended-intake {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.intake-box {
    flex: 1;
}
.intake-box > h4 {
    text-align: center;
}
.intake-box > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 10px 0;
}
.intake-box > div > div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    transform: rotate(45deg);
}
.intake-box > div > div > span {
    font-family: var(--gothic-bold);
    font-size: 18px;
    color: white;
    transform: rotate(-45deg);
}
.intake-box > div > span {
    font-size: 12px;
    width: 0;
}


#table-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.table-title {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color-dark);
    padding-bottom: 10px;
    border-bottom: 2px dashed #ddd;
    margin-bottom: 10px;
}

.table-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-header > h5 {
    flex: 1;
    font-size: 16px;
    text-align: center;
}
.table-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.table-item {
    width: 100%;
    height: 40px;
    display: flex;
    color: black;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 0;
}
.table-item span {
    flex: 1;
    text-align: center;
    border: none;
}
#diet-total > .table-item {
    color: white;
    background: var(--text-color);
}
.diet-graphs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.graph {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    background: white;
    padding: 10px 15px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
}
.graph-header {
    width: 80px;
    height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    margin: auto 0 0 0;
}
.graph-header > i {
    font-size: 32px;
}
.graph-body {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.graph-texts {
    width: 100%;
    height: 12px;
    display: flex;
}
.graph-texts > span {
    flex: 1;
    font-size: 10px;
    text-align: center;
}
.graph-body > progress {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.graph-progress::-webkit-progress-bar {
    background: #eeeeee;
}
.graph-progress::-webkit-progress-value {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 1s ease;
}
.graph-progress.ready::-webkit-progress-value {
    transform: scaleX(0);
}
.graph-target {
    height: 20px;
}
.graph-target::-webkit-progress-value {
    background: var(--main-color-dark);
    border-radius: 2px;
}
.graph-current {
    height: 40px;
}
.graph-current::-webkit-progress-value {
    background: var(--main-color-bright);
    border-radius: 4px;
}
/*
.graph:nth-child(1) .graph-current::-webkit-progress-value {
    background: var(--another-color);
}
.graph:nth-child(2) .graph-current::-webkit-progress-value {
    background: var(--sub-color);
}
.graph:nth-child(3) .graph-current::-webkit-progress-value {
    background: var(--dark-color);
}
*/
.graph-line {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: space-between;
}
.graph-line > span {
    width: 1px;
    height: 100%;
    border: 1px dashed white;
}
.graph-line > span:first-child,
.graph-line > span:last-child {
    opacity: 0;
}
.graph-subheader {
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding-top: 14px;
}
.graph-subheader > h5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    background: black;
    border-radius: 3px;
}
.graph-subheader > h5:first-child {
    height: 20px;
}
.graph-subheader > h5:last-child {
    height: 40px;
}


/* modal */
.search-wrapper {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
    border-radius: 25px;
    overflow: hidden;
}
#search-food {
    flex: 1;
    height: 40px;
    font-size: 16px;
    margin: 0 15px;
}
#search-button {
    flex: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

#search-button img {
    width: 20px;
}

#food-container {
    display: flex;
    gap: 10px;
}
#food-select {
    flex: none;
    width: 600px;
}
.food-list {
    padding: 0;
    margin: 0;
}
.food-item {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.food-item:nth-child(2n) {
    background: #eee;
}
.food-item:hover {
    background: var(--main-color-brighter);
}
.food-item > span {
    flex: 1;
    text-align: center;
    pointer-events: none;
}
#food-header {
    height: 40px;
    border-bottom: 1px solid #ddd;
    pointer-events: none;
}
.diet-modal-pagination {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: auto 0 0 0;
}
.arrow {
    flex: none;
    width: 36px;
    height: 36px;
    background: #eee;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
#page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.page-number {
    width: 36px;
    height: 36px;
    background: #eee;
    border: 0;
    border-radius: 5px;
}

#food-detail {
    flex: none;
    width: 200px;
}
.diet-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.diet-details > div {
    background: #eee;
    padding: 10px;
    border-radius: 10px;
}
.diet-details > div > h3 {
    font-size: 16px;
    color: var(--main-color-dark);
    margin: 0 0 10px 0;
}
.diet-details > div > p,
.diet-details > div > input,
.diet-details > div > select {
    width: 100%;
    font-size: 14px;
    background: white;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    outline: none;
}

#food-name {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 5px 0;
}
#food-amount {
    font-size: 10px;
    color: gray;
    margin: 0 0 5px 0;
}
.diet-info-item {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.diet-info-item > h4 {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    margin: 0 5px 0 0;
}
.diet-info-item > h4::after {
    content: "";
    flex: 1;
    height: 0;
    border: 1px dashed #aaa;
}
.diet-info-item > h5 {
    font-size: 16px;
}
.diet-info-item > span {
    align-self: flex-end;
    font-size: 10px;
}

#new-food-container > h3 {
    color: var(--main-color-dark);
}
#new-food-container > h3 > i {
    font-size: 16px;
    color: gray;
    margin: 0 0 0 5px;
}
#new-food-container > h3 > i:hover {
    color: black;
}
#new-food-select {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: #eee;
    padding: 10px;
    border-radius: 10px;
}
#new-food-select > input {
    flex: 1;
    width: 0;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}