main > section {
    margin: 10px 0;
}
#current-date {
    position: relative;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--gothic-bold);
    font-size: 16px;
    border: 0;
    border-radius: 6px;
    outline: none;
    margin: 0 0 -30px 10px;
    box-shadow: 2px 5px 10px #0003;
    z-index: 1;
}
.diet-kcal {
    display: flex; /* 가로 정렬 */
    justify-content: space-between; /* 두 항목 사이에 간격을 둡니다 */
    align-items: center; /* 수직 가운데 정렬 */
    margin: 10px 0; /* 위아래 여백 */
}
.diet-kcal > h3 {
    font-size: 18px;
    text-align: center;
    color: var(--main-color-dark);
}
.diet-kcal p {
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
.diet-kcal span {
    font-weight: bold;
    color: var(--main-color);
    font-size: 45px;
}



.recommended-intake {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 10px;
}
.intake-box {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intake-box > h4 {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}
.intake-box > h4 > span {
    font-size: 14px;
}
.intake-box > div {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.intake-box > div > .cal {
    font-family: var(--gothic-bold);
    font-size: 32px;
}
.intake-box > div > span:last-child {
    align-self: flex-end;
    font-size: 12px;
}
.intake-box > i {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: #eee;
}


#table-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.table-title {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color-dark);
    padding-bottom: 10px;
    border-bottom: 2px dashed #ddd;
    margin-bottom: 10px;
}

.table-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-header > h5 {
    flex: 1;
    font-size: 16px;
    text-align: center;
}
.table-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.table-item {
    width: 100%;
    height: 40px;
    display: flex;
    color: black;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.table-item span {
    flex: 1;
    text-align: center;
    border: none;
}
.delete-button {
    position: absolute;
    right: 45px;
    background-color: red; /* 배경색 */
    color: white; /* 글자색 */
    border: none; /* 테두리 없음 */
    width: 30px; /* 너비 */
    height: 30px; /* 높이 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 커서 모양 변경 */
}

.delete-button:hover {
    background-color: darkred; /* 호버 시 색상 변경 */
}
#diet-total > .table-item {
    color: white;
    background: var(--text-color);
}
.diet-graphs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.graph {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    background: white;
    padding: 10px 15px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
}
.graph-body {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.graph-texts {
    width: 100%;
    height: 12px;
    display: flex;
}
.graph-texts > span {
    flex: 1;
    font-size: 10px;
    text-align: center;
}
.graph-body > progress {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.graph-progress::-webkit-progress-bar {
    background: #eeeeee;
}
.graph-progress::-webkit-progress-value {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 1s ease;
}
.graph-progress.ready::-webkit-progress-value {
    transform: scaleX(0);
}
.graph-target {
    height: 20px;
}
.graph-target::-webkit-progress-value {
    background: var(--main-color-dark);
    border-radius: 2px;
}
.graph-current {
    height: 40px;
}
.graph-current::-webkit-progress-value {
    background: var(--main-color-bright);
    border-radius: 4px;
}
/*
.graph:nth-child(1) .graph-current::-webkit-progress-value {
    background: var(--another-color);
}
.graph:nth-child(2) .graph-current::-webkit-progress-value {
    background: var(--sub-color);
}
.graph:nth-child(3) .graph-current::-webkit-progress-value {
    background: var(--dark-color);
}
*/
.graph-line {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: space-between;
}
.graph-line > span {
    width: 1px;
    height: 100%;
    border: 1px dashed white;
}
.graph-line > span:first-child,
.graph-line > span:last-child {
    opacity: 0;
}
.graph-subheader {
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.graph-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    background: #B44602;
    border-radius: 3px;
}
.graph-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    background: #FFB66B;
    border-radius: 3px;
}
/* .graph-subheader > h5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    background: pink;
    border-radius: 3px;
} */
.graph-subheader > h5:first-child {
    height: 20px;
}
.graph-subheader > h5:last-child {
    height: 40px;
}

/* .load-button {
    width: fit-content;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: white;
    background: #222222;
    padding: 0 10px;
    border: 0;
    border-radius: 5px;
    margin-left: auto;
}

.load-button:hover {
    color: white;
    background: var(--main-color);
} */
.save-button {
    width: fit-content;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: white;
    background: #222222;
    padding:  10px;
    border: 0;
    border-radius: 5px;
    margin-left: auto;
    margin-bottom: 5px;
    cursor: pointer;
}

.save-button:hover {
    color: white;
    background: var(--main-color);
}
/* - */
.search-wrapper {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
    border-radius: 25px;
    overflow: hidden;
}
#search-food {
    flex: 1;
    height: 40px;
    font-size: 16px;
    margin: 0 15px;
}
#search-button {
    flex: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

#search-button img {
    width: 20px;
}

#food-container {
    display: flex;
    gap: 10px;
}
#food-select {
    flex: none;
    width: 600px;
}
.food-list {
    padding: 0;
    margin: 0;
}
.food-item {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.food-item:nth-child(2n) {
    background: #eee;
}
.food-item:hover {
    background: var(--main-color-brighter);
}
.food-item > span {
    flex: 1;
    text-align: center;
    pointer-events: none;
}
#food-header {
    height: 40px;
    border-bottom: 1px solid #ddd;
    pointer-events: none;
}
.diet-modal-pagination {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: auto 0 0 0;
}
.arrow {
    flex: none;
    width: 36px;
    height: 36px;
    background: #eee;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
#page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.page-number {
    width: 36px;
    height: 36px;
    background: #eee;
    border: 0;
    border-radius: 5px;
}

#food-detail {
    flex: none;
    width: 200px;
}
.diet-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.diet-details > div {
    background: #eee;
    padding: 10px;
    border-radius: 10px;
}
.diet-details > div > h3 {
    font-size: 16px;
    color: var(--main-color-dark);
    margin: 0 0 10px 0;
}
.diet-details > div > p,
.diet-details > div > input,
.diet-details > div > select {
    width: 100%;
    font-size: 14px;
    background: white;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    outline: none;
}

#food-name {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 5px 0;
}
#food-amount {
    font-size: 10px;
    color: gray;
    margin: 0 0 5px 0;
}
.diet-info-item {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.diet-info-item > h4 {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    margin: 0 5px 0 0;
}
.diet-info-item > h4::after {
    content: "";
    flex: 1;
    height: 0;
    border: 1px dashed #aaa;
}
.diet-info-item > h5 {
    font-size: 16px;
}
.diet-info-item > span {
    align-self: flex-end;
    font-size: 10px;
}

#new-food-container > h3 {
    color: var(--main-color-dark);
}
#new-food-container > h3 > i {
    font-size: 16px;
    color: gray;
    margin: 0 0 0 5px;
}
#new-food-container > h3 > i:hover {
    color: black;
}
#new-food-select {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: #eee;
    padding: 10px;
    border-radius: 10px;
}
#new-food-select > input {
    flex: 1;
    width: 0;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}