#main-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 2px 5px 10px #0003;
    z-index: 98;
}
#top {
    width: 100%;
    max-width: var(--max-width);
    height: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}
#top > a {
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
#nav-section {
    width: 100%;
    max-width: var(--max-width);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
}
#title-section {
    position: relative;
    top: -10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#title-logo {
    flex: none;
    width: 36px;
    height: 36px;
    object-fit: contain;
}
#title-link {
    flex: none;
    width: 90px;
    height: 100%;
}
#title-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--main-color);
}
#title-text > span {
    width: 100%;
    line-height: 16px;
    height: 16px;
}
#title-text > span:first-child {
    letter-spacing: 3px;
}
#title-text > span:last-child {
    letter-spacing: 2px;
}
#nav-toggle {
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background: #eee;
    border-radius: 5px;
}
#main-nav {
    width: 100%;
    max-width: 800px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
#main-nav > a {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    color: black;
    border-width: 4px 0;
    border-style: solid;
    border-color: transparent;
}
#main-nav > a.active {
    font-weight: bold;
    color: var(--main-color);
    border-bottom-color: var(--main-color);
}
#remote {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    gap: 0;
    background: #fffa;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
}
.remote-button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}
.remote-button:first-child {
    border-top: 0;
}
.remote-button:last-child {
    border-bottom: 0;
}
.remote-button:hover {
    color: white;
    background: var(--main-color);
}
@media (max-width: 740px) {
    #top {
        display: none;
    }
    #title-section {
        position: static;
    }
    #main-nav {
        position: absolute;
        top: 65px;
        right: 5px;
        width: 200px;
        height: fit-content;
        display: none;
        flex-direction: column;
        gap: 5px;
        background: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 2px 5px 10px #0003;
    }
    #main-nav > a {
        flex: none;
        width: 100%;
        height: 30px;
        font-size: 16px;
        background: #eee;
        border: 0;
        border-radius: 5px;
    }
    #main-nav > a.active {
        color: white;
        background: var(--main-color);
    }
    #main-nav.expanded {
        display: flex;
    }
    #nav-toggle {
        display: flex;
    }
}
