@import "header.css";

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --gothic-normal: 'NEXON Lv1 Gothic OTF', sans-serif;
    --gothic-bold: 'NEXON Lv1 Gothic OTF Bold', sans-serif;
    --max-width: 1200px;
    --main-color : #F4761B;
}
* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--gothic-normal);
    background: #eee;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
a.active,
a:hover {
    color: var(--main-color);
}
main {
    position: relative;
    width: 100vw;
    max-width: var(--max-width);
    padding: 20px;
}
main.max {
    max-width: unset;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--gothic-bold);
    font-weight: normal;
    margin: 0;
}
strong, button {
    font-family: var(--gothic-bold);
    font-weight: normal;
}

input:focus {
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}
progress {
    -webkit-appearance: none;
}
progress::-webkit-progress-bar {
    background: transparent;
}
progress::-webkit-progress-value {
    background: var(--main-color);
}
.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 15px 20px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
}