main.fixed {
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
}
.main-section {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-size: cover;
    background-position: center;
}
.main-section::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
            linear-gradient(135deg, white 20%, transparent 20% 80%, white 80%),
            linear-gradient(black, transparent, black);
    backdrop-filter: blur(10px);
    opacity: 0.6;
    z-index: 0;
}
.main-section:nth-child(2n)::before {
    background:
            linear-gradient(225deg, white 20%, transparent 20% 80%, white 80%),
            linear-gradient(black, transparent, black);
}
.main-box-header {
    width: 100%;
    padding: 20px;
    background: white;
}
.main-box-header > h2 {
    margin: 0 0 10px 0;
}
.box {
    width: calc(100% - 20px);
    max-width: 600px;
    gap: 5px;
    background-color: #ffffffaa;
    padding: 20px;
    backdrop-filter: blur(10px);
}
.main-box {
    padding: 0;
}
strong {
    flex: none;
    white-space: nowrap;
    color: var(--main-color);
}
h2 {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    font-size: 18px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #aaa;
    margin: 0 0 8px 0;
}
h2 > span {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    font-size: 24px;
    color: var(--main-color);
}
p {
    font-size: 14px;
    margin: 4px;
}
.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    list-style: none;
    padding: 15px 20px 10px 20px;
    margin: 0;
}
.list > li {
    width: 100%;
    font-size: 14px;
    background: white;
    padding: 5px 8px;
    border-radius: 5px;
    line-height: 20px;
}
.list > li::before {
    content: "";
    display: inline-block;
    flex: none;
    width: 10px;
    height: 10px;
    background: var(--main-color);
    transform: rotate(45deg);
    margin: 0 5px 0 0;
}
.list > li > a {
    width: 80px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: #eee;
    border-radius: 5px;
    margin: 0 0 0 auto;
}
.list > li > a:hover {
    color: white;
    background: var(--main-color);
}
.main-button {
    width: 150px;
    height: 30px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: var(--gothic-bold);
    font-size: 14px;
    color: white;
    background: var(--main-color);
    border-radius: 5px;
    margin: 0 20px 20px 0;
}
.main-button:hover {
    color: var(--main-color);
    background: white;
}


#first-page {
}
#welcome-logo {
    width: fit-content;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: linear-gradient(135deg, transparent 30% 70%, var(--main-color) 70% 80%, transparent 80%);
    padding: 0 10px;
    z-index: 1;
}
#welcome-logo > div {
    flex: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    transform: rotate(45deg);
    border: 4px solid white;
    border-radius: 5px;
}
#welcome-logo > div > img {
    width: 36px;
    height: 36px;
    object-position: center;
    object-fit: contain;
    transform: rotate(-45deg);
}
#welcome-logo > h1 {
    position: relative;
    top: 3px;
    font-size: 36px;
    color: white;
}
#welcome-message {
    padding: 0;
}
#welcome-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    list-style: none;
    padding: 20px;
    margin: 0;
}
@media (max-width: 550px) {
    #welcome-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
#welcome-list > li {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    line-height: inherit;
    padding: 0 10px;
}
#next {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-radius: 0;
    margin: 0;
}
#welcome-login {
    width: 100%;
    font-family: var(--gothic-bold);
    text-align: center;
}
#login-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#login-list > .main-button {
    margin: 0;
}
#login-list > .main-button:first-child {
    color: black;
    background: #eee;
}
#login-list > .main-button:last-child {
    color: white;
    background: #222;
}
#login-list > .main-button:hover {
    color: white;
    background: var(--main-color);
}


#introduce {

}

.main-communication {
    flex: none;
    gap: 0;
    background-color: #eeeeee;
    padding: 0;
}
.main-communication > h3 {
    font-size: 18px;
}
.main-communication-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 15px 0;
}
.main-communication-entry {
    background-color: white;
    padding: 0 20px;
}
.main-communication-entry:nth-child(2n-1) {
    background-color: #eee;
}
.main-communication-entry > a {
    width: 100%;
    height: 100%;
    display: flex;
}
.main-communication-entry > a > span {
    font-size: 14px;
}
.main-community-entry {
    height: 36px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.main-community-entry > a {
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.main-community-title {
    flex: 1;
    font-weight: bold;
}

.main-qna-entry {
    height: 72px;
    border-bottom: 1px solid lightgray;
}
.main-qna-entry > a {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main-qna-entry > a > span {
    flex: none;
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: none;
}
.main-qna-q {
}
.main-qna-a {
    padding-left: 10px;
}
.main-qna-a::before {
    content: "ㄴ";
}


#scroll-guide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    backdrop-filter: brightness(0.5) blur(4px);
    z-index: 99;
    transition: 1s opacity;
}
#scroll-guide.hidden {
    opacity: 0;
    pointer-events: none;
}
#scroll-icon {
    width: 60px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 25px;
}
#scroll-icon > i {
    width: 100%;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: gray;
}
#scroll-icon > i:first-child {
    animation: scroll 0.5s 0s linear infinite alternate;
}
#scroll-icon > i:nth-child(2) {
    animation: scroll 0.5s 0.3s linear infinite alternate;
}
#scroll-icon > i:last-child {
    animation: scroll 0.5s 0.6s linear infinite alternate;
}
@keyframes scroll {
    from {
        color: gray;
    }
    to {
        color: white;
    }
}
#scroll-message {
    font-size: 14px;
    color: white;
    text-shadow: 0 0 10px black;
}