.qna-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.qna-title input {
    width: 100%;
    height: 35px;
    font-size: 25px;
    color: black;
}

.qna-check {
    font-size: 20px;
    margin-bottom: 20px;
}

.qna-content {
    margin-bottom: 20px;
}

.qna-content textarea {
    width: 100%;
    height: 400px;
    font-size: 20px;
}

.qna-button {
    text-align: center;
}

.qna-button button {
    width: 12%;
    height: 35px;
    background-color: #f4761b;
    font-size: 20px;
    color: white;
    margin: 10px;
}