.qna-write-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.qna-write-title input {
    width: 100%;
    height: 35px;
    font-size: 25px;
    border-color: lightslategrey;
    border-radius: 5px;
}

.qna-write-check {
    font-size: 20px;
    margin-bottom: 20px;
}

.qna-write-content {
    margin-bottom: 20px;
}

.qna-write-content textarea {
    width: 100%;
    height: 400px;
    font-size: 20px;
}

.qna-write-button {
    text-align: center;
}

.qna-write-button button {
    width: 12%;
    height: 35px;
    border-radius: 5px;
    border-color: lightslategray;
    background-color: #f4761b;
    font-size: 20px;
    color: white;
    margin: 10px;
}