body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.qna-write {
    max-width: 800px;
    margin: auto;
    padding: 30px 30px 30px 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(50, 50, 90, );
    transition: transform 0.2s;
}

.qna-write:hover {
    transform: scale(1.01);
}

input {
    display: inline;
    padding: initial;
    border: initial;
    background: transparent;
}

.qna-write-title {
    text-align: center;
    margin-bottom: 23px;
    padding: 0;
    box-shadow: #002;
}

.qna-write-title input {
    padding: 20px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: 2px solid #dee2e6;
    border-radius: 5px;
    background-color: #fafafa;
}

.qna-write-check {
    font-size: 20px;
    margin: 0px 0 21px 2px;
    padding: 3px;
}

.qna-write-check input{
    scale: 2;
}

.qna-write-content {
    margin-bottom: 17px;
    padding: 0;
}

.qna-write-content textarea {
    padding: 20px;
    width: 100%;
    min-height: 450px;
    font-size: 18px;
    border: 2px solid #dee2e6;
    border-radius: 10px;
    background-color: #fafafa;
}

.qna-write-button {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.qna-write-button a {
    display: flex;
    width: 120px;
}

.qna-write-button button {
    flex: 1;
    max-width: 120px;
    height: 45px;
    background-color: var(--text-color);
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 10px rgba(158, 115, 115, 0.1);
}

.qna-write-button button:hover {
    background-color: var(--main-color);
    transform: scale(1.05);
}