.qna-view {
    margin: 20px;
    padding: 0 0 40px 0;
    position: relative;
    width: 90vw;
    max-width: var(--max-width);
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
}

.qna-view-info table {
    padding: 20px 60px;
    width: 100%;
    text-align: left;
    font-size: 20px;
    line-height: 40px;
}

.qna-view-info table th {
    width: 10%;
}

.qna-view-info table td {
    width: 30%;
}

.qna-view-content {
    margin-bottom: 20px;
    padding: 0 60px;
    border: none;
    width: 100%;
    height: 500px;
    font-size: 20px;
    color: black;
}

.qna-view-buttons {
    text-align: center;
}

.qna-view-buttons button {
    width: 12%;
    height: 35px;
    background-color: #222;
    font-size: 20px;
    color: white;
    margin: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 5px 10px #0003;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.qna-view-buttons button:hover {
    color: white;
    background: var(--main-color);
}