main {
    position: relative;
    top: -3.1%;
}

#qna {
    gap: 0;
    padding: 0;
}

.qna-item {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
}

.qna-item:nth-child(2n) {
    background: #eee;
}

.qna-item:hover {
    color: var(--main-color);
}

.qna-item>* {
    font-size: 16px;
    white-space: nowrap;
}

.qna-item-number,
.qna-item-view {
    display: block;
    flex: none;
    width: 12%;
    text-align: center;
    white-space: normal;
}

.qna-item-title {
    display: block;
    flex: none;
    text-align: left;
    width: 46%;
    white-space: normal;
}

.qna-item-nickname {
    display: block;
    flex: none;
    width: 15%;
    text-align: center;
    white-space: normal;
}

.qna-item-date {
    display: block;
    flex: none;
    width: 15%;
    text-align: center;
    white-space: normal;
}

#qna-title {
    background-color: #001627;
    color: white;
}

.qna-list li, p {
    margin: 0;
}

.qna-bottom {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

.qna-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.pagination-container {
    display: flex;
    gap: 5px;
}

.pagination-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-button:hover,
.pagination-button.active {
    color: white;
    background: var(--main-color);
}

.qna-button {
    position: absolute;
    right: 2%;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.qna-button:hover {
    color: white;
    background: var(--main-color);
}

@media screen and (max-width: 768px) {

    .qna-title,
    .qna-item {
        align-items: flex-start;
    }

    .title1,
    .title2,
    .qnaItem1,
    .qnaItem2 {
        width: 100%;
        text-align: left;
    }

    .qna-button {
        justify-content: center;
    }
}

.post-pagination {
    margin-top: 25px;
    width: 100%;
    text-align: center;
}

.post-pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 1rem;
}