@import "login.css";
.popup-text {
    width: 400px;
    height: 600px;
    gap: 5px;
    font-size: 13px;
}
.popup-text.hidden {
    display: none;
}
.popup-text ol,
.popup-text ul {
    padding: 0 0 0 20px;
    margin: 0;
}