.welcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: white;
    padding: 15px 20px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
    margin: 0 0 10px 0;
}
.welcome > h3 {
    font-size: 24px;
}
.welcome span {
    color: var(--main-color);
}
.date {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.date > input {
    font-family: var(--gothic-bold);
    background: #eee;
    padding: 5px 10px;
}
.user-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
#user-inputs {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: 45px;
    gap: 10px;
}
.user-title {
    height: 30px;
    grid-column: 1/3;
    text-align: center;
}
#user-profile {
    position: relative;
    grid-row: span 4;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}
#user-profile > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#edit-profile {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background: #eee;
    border-radius: 5px;
    opacity: 0.5;
}
#edit-profile:hover {
    opacity: 1;
}
.user-input {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    background: #eee;
    padding: 0 10px;
    border-radius: 5px;
}
.user-input.column-2 {
    grid-column: span 2;
}
.user-input > div {
    flex: 1;
    max-width: calc(50% - 15px);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.user-input > i {
    flex: none;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.user-input h4 {
    flex: none;
    text-align: right;
    white-space: nowrap;
}
.user-input h4 > i {
    width: 14px;
    margin: 0 3px 0 0;
}
.user-input input {
    flex: 1;
    width: 40px;
    height: 20px;
    font-family: var(--gothic-bold);
    font-size: 16px;
    text-align: right;
    background: none;
    border: none;
    border-bottom: 2px solid #aaa;
}
.user-input label {
    flex: none;
    width: 10px;
    font-size: 10px;
    align-self: flex-end;
    margin: 0 0 10px 0;
}
.user-input input[type="text"] {
    text-align: center;
}
.user-input input[type="radio"] {
    display: none;
}
.user-input input[type="radio"] + label {
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0;
    opacity: 0.5;
}
.user-input input[type="radio"]:checked + label {
    background: white;
    opacity: 1;
}
.user-input input[type="radio"]:checked + label::before {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    content: "\f00c";
    font-family: FontAwesome, sans-serif;
    font-size: 16px;
    text-align: center;
    color: var(--main-color);
}
.user-input input[type="number"] {
    background: transparent;
}
#save {
    grid-column: -2/-1;
    height: 30px;
    justify-self: flex-end;
    align-self: flex-end;
    padding: 0 20px;
}
.save-button:hover {
    color: white;
    background: var(--main-color);
}
#user-calc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#user-calories {
    position: relative;
    flex: 1;
}
#bmr {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--gothic-bold);
    color: var(--main-color);
    background: #eee;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.bmr-main {
    height: 48px;
    display: flex;
    font-size: 48px;
}
.bmr-sub {
    top: 10px;
    position: relative;
    font-size: 24px;
}
#user-calories > h5 {
    position: absolute;
    bottom: 25px;
    right: 35px;
    width: 50px;
    font-size: 24px;
    text-align: center;
}

.user-graph {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.graph {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    background: white;
    padding: 10px 15px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
}
.graph-header {
    width: 80px;
    height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    margin: auto 0 0 0;
}
.graph-header > i {
    font-size: 32px;
}
.graph-subheader {
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding-top: 14px;
}
.graph-subheader > h5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    background: black;
    border-radius: 3px;
}
.graph-subheader > h5:first-child {
    height: 20px;
    background: var(--main-color-dark);
}
.graph-subheader > h5:last-child {
    height: 40px;
    background: var(--main-color-bright);
}
.graph-body {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.graph-texts {
    width: 100%;
    height: 12px;
    display: flex;
}
.graph-texts > span {
    flex: 1;
    font-size: 10px;
    text-align: center;
}
.graph-texts > span.span-2 {
    flex: 2;
}
.graph-body > progress {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}
.graph-progress {

}
.graph-progress::-webkit-progress-bar {
    background: #eeeeee;
}
.graph-target {
    height: 20px;
}
.graph-target::-webkit-progress-value {
    background: var(--main-color-dark);
    border-radius: 2px;
}
.graph-current {
    height: 40px;
}
.graph-current::-webkit-progress-value {
    background: var(--main-color-bright);
    border-radius: 4px;
}
.graph-line {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: space-between;
}
.graph-line > span {
    flex: 1;
    height: 100%;
    border-width: 0 1px;
    border-style: dashed;
    border-color: white;
}
.graph-line > span.span-2 {
    flex: 2;
}
.graph-line > span:first-child {
    border-left: none;
}
.graph-line > span:last-child {
    border-right: none;
}

@media (max-width: 1050px) {
    .user-info {
        flex-direction: column;
    }
}
@media (max-width: 990px) {
    #user-inputs {
        grid-template-columns: repeat(2, 1fr);
    }
    #user-inputs-title {
        grid-column: 1/3;
    }
}
@media (max-width: 790px) {
    .user-main {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    #user-inputs {
        grid-template-columns: repeat(3, 1fr);
    }
    #user-inputs-title {
        grid-column: 1/4;
    }
    #user-profile {
        grid-row: span 5;
    }
}
@media (max-width: 580px) {
    #user-inputs {
        grid-template-columns: repeat(2, 1fr);
    }
    #user-inputs-title {
        grid-column: 1/3;
    }
    #user-profile {
        grid-row: span 4;
    }
}