.welcome {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: white;
    padding: 15px 20px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
    margin: 0 0 20px 0;
}
.welcome > h3 {
    font-size: 24px;
}
.welcome > span {
    flex: 1;
    border: 1px dashed gray;
    margin: 0 10px 5px 10px;
}
.welcome > p {
    font-size: 16px;
    margin: 0;
}
.welcome span {
    color: var(--main-color);
}
.user-info {
    display: flex;
    gap: 10px;
}
.user-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}
#user-inputs {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 155px);
    gap: 10px;
}
#user-inputs-title {
    grid-column: 1/3;
    text-align: center;
}
#user-profile {
    grid-row: 2 / 5;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}
#user-profile > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-input {
    width: 155px;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    background: #eee;
    padding: 0 10px;
    border-radius: 5px;
}
.user-input:nth-child(2n) {
    justify-self: flex-end;
}
.user-input > h4 {
    flex: none;
    text-align: right;
    white-space: nowrap;
}
.user-input > h4 > i {
    width: 14px;
    margin: 0 3px 0 0;
}
.user-input > input {
    flex: 1;
    width: 40px;
    height: 20px;
    font-family: var(--gothic-bold);
    font-size: 16px;
    text-align: right;
    background: none;
    border: none;
    border-bottom: 2px solid #aaa;
}
.user-input > label {
    font-size: 10px;
    align-self: flex-end;
    margin: 0 0 10px 0;
}
.user-input > input[type="radio"] {
    display: none;
}
.user-input > input[type="radio"] + label {
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0;
    opacity: 0.5;
}
.user-input > input[type="radio"]:checked + label {
    background: white;
    opacity: 1;
}
.user-input > input[type="radio"]:checked + label::before {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    content: "\f00c";
    font-family: FontAwesome, sans-serif;
    font-size: 16px;
    text-align: center;
    color: var(--main-color);
}
.user-input > input[type="number"] {
    background: transparent;
}
.save-button {
    grid-column: 1 / 3;
    width: 80px;
    height: 30px;
    justify-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--gothic-bold);
    font-size: 14px;
    color: white;
    border-radius: 5px;
    background: #222;
}
.save-button:hover {
    color: white;
    background: var(--main-color);
}
.user-calories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
}
.user-calories > input {
    font-size: 26px;
    width: 100px;
    height: 60px;
    font-family: var(--gothic-bold);
    text-align: center;
    color: var(--main-color);
    background: #eee;
    border: none;
    border-radius: 10px;
}

.user-graph {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.graph {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    background: white;
    padding: 10px 15px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
}
.graph-header {
    width: 80px;
    height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    margin: auto 0 0 0;
}
.graph-header > i {
    font-size: 32px;
}
.graph-body {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.graph-texts {
    width: 100%;
    height: 12px;
    display: flex;
}
.graph-texts > span {
    flex: 1;
    font-size: 10px;
    text-align: center;
}
.graph-body > progress {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}
.graph-progress {

}
.graph-progress::-webkit-progress-bar {
    background: #eeeeee;
}
.graph-progress::-webkit-progress-value {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 1s ease;
}
.graph-progress.ready::-webkit-progress-value {
    transform: scaleX(0);
}
.graph-target {
    height: 20px;
}
.graph-target::-webkit-progress-value {
    background: var(--main-color-dark);
    border-radius: 2px;
}
.graph-current {
    height: 40px;
}
.graph-current::-webkit-progress-value {
    background: var(--main-color-bright);
    border-radius: 4px;
}
/*
.graph:nth-child(1) .graph-current::-webkit-progress-value {
    background: var(--another-color);
}
.graph:nth-child(2) .graph-current::-webkit-progress-value {
    background: var(--sub-color);
}
.graph:nth-child(3) .graph-current::-webkit-progress-value {
    background: var(--dark-color);
}
*/
.graph-line {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: space-between;
}
.graph-line > span {
    width: 1px;
    height: 100%;
    border: 1px dashed white;
}
.graph-line > span:first-child,
.graph-line > span:last-child {
    opacity: 0;
}
.graph-subheader {
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding-top: 14px;
}
.graph-subheader > h5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    background: black;
    border-radius: 3px;
}
.graph-subheader > h5:first-child {
    height: 20px;
}
.graph-subheader > h5:last-child {
    height: 40px;
}


.user-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 15px 20px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #0003;
}
.side-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    background: #eee;
    padding: 10px 15px;
    border-radius: 10px;
}
.side-input > h4 {
    flex: none;
    font-size: 14px;
    white-space: nowrap;
}
.side-input > input {
    flex: none;
    width: 40px;
    height: 20px;
    font-family: var(--gothic-bold);
    text-align: right;
    border: none;
    border-bottom: 1px solid gray;
}
.side-input > input[type="date"] {
    width: 110px;
    background: transparent;
}
.side-input > input[type="number"] {
    background: transparent;
}
.side-input > label {
    font-size: 10px;
    align-self: flex-end;
}

@media (max-width: 840px) {
    .welcome {
        flex-direction: column;
    }
    .user-info {
        flex-direction: column;
    }
    .user-main {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .user-side {
        margin: 0;
    }
}