#vital {
    width: 100%;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: repeat(3, 220px);
    gap: 10px;
}
.vital-input {
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#stretch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}
.vital-header {
    width: 100%;
    text-align: center;
}
.vital-content {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vital-content > div {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background: var(--main-color);
    transform: rotate(45deg);
}
.vital-content > div > span {
    font-family: var(--gothic-bold);
    color: white;
    transform: rotate(-45deg);
}
.vital-content > span {
    width: 0;
    font-size: 14px;
    white-space: nowrap;
    align-self: flex-end;
    margin: 10px 0;
}
.vital-input > input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.vital-input > input[type="range"]::-webkit-slider-container {
    width: 100%;
    height: 30px;
    background: #eee;
    padding: 5px;
    border-radius: 15px;
}
.vital-input > input[type="range"]::-webkit-slider-runnable-track {
}
.vital-input > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 5px #0003;
    transition: 0.3s all;
}
.vital-input > input[type="range"]::-webkit-slider-thumb:hover {
    scale: 1.1;
}
.vital-range {
    width: 100%;
    height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 2px;
}
.vital-range > span {
    flex: 1;
    font-size: 10px;
    text-align: center;
    color: gray;
}
.vital-range > span:first-child,
.vital-range > span:last-child {
    font-size: 12px;
    color: black;
}
.vital-input > input[type="checkbox"] {
    display: none;
}
.vital-input > button {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-family: var(--gothic-bold);
    font-size: 16px;
    background: #eee;
    padding: 0 10px;
    border: 0;
    border-radius: 4px;
    transition: 0.3s all;
}
.vital-input > button:hover {
    box-shadow: 0 0 10px #0003;
    scale: 1.1;
}
.vital-input > button[data-current="yet"] {
    color: var(--text-color);
    background: #eee;
}
.vital-input > button[data-current="playing"] {
    color: white;
    background: var(--main-color);
}
.vital-input > button[data-current="finished"] {
    color: white;
    background: var(--another-color);
}
.vital-input > button::before {
    content: "";
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "FontAwesome";
    color: var(--text-color);
    background: white;
    border-radius: 15px;
    margin: 0 5px 0 0;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px #0003;
    transition: 0.3s all;
    z-index: 2;
}
.vital-input > button[data-current="yet"]::before {
    content: "\f04d";
}
.vital-input > button[data-current="playing"]::before {
    content: "\f04b";
}
.vital-input > button[data-current="finished"]::before {
    content: "\f00c";
}
.vital-input > button[data-current="playing"]::after {
    content: "";
    position: absolute;
    top: calc(50% - 18px);
    left: 7px;
    width: 36px;
    height: 36px;
    background-image: conic-gradient(black 225deg, transparent 225deg);
    border-radius: 50%;
    animation: spinning 1s infinite ease-in-out;
    z-index: 1;
}
@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(-360deg);
    }
}
.vital-input > span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 240px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--gothic-bold);
    font-size: 14px;
    text-align: center;
    color: #2a2a2a;
    background: white;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: 0.3s opacity;
    pointer-events: none;
}
.vital-input > span.hidden {
    opacity: 0;
}
#recommend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.vital-recommend {
    width: 100%;
    height: 100%;
    padding: 0;
}
.vital-recommend > video,
.vital-recommend > iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
.vital-recommend > .end {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--another-color);
    background: linear-gradient(135deg, white 60%, var(--another-color) 60% 70%, white 70%);
}
.vital-recommend > .end > i {
    font-size: 64px;
}
.vital-recommend > .end > h4 {
    font-size: 24px;
    background: white;
    padding: 5px 10px;
    border: 3px solid var(--another-color);
}
.vital-recommend > .hidden {
    display: none;
}
