#vital {
    width: 100%;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: repeat(3, 220px);
    gap: 10px;
}
.vital-input {
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#stretch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}
.vital-header {
    width: 100%;
    text-align: center;
}
.vital-content {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vital-content > div {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background: var(--main-color);
    transform: rotate(45deg);
}
.vital-content > div > span {
    font-family: var(--gothic-bold);
    color: white;
    transform: rotate(-45deg);
}
.vital-content > span {
    width: 0;
    font-size: 14px;
    white-space: nowrap;
    align-self: flex-end;
    margin: 10px 0;
}
.vital-input > input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.vital-input > input[type="range"]::-webkit-slider-container {
    width: 100%;
    height: 30px;
    background: #eee;
    padding: 5px;
    border-radius: 15px;
}
.vital-input > input[type="range"]::-webkit-slider-runnable-track {
}
.vital-input > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: var(--main-color);
    border-radius: 50%;
}
.vital-range {
    width: 100%;
    height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 2px;
}
.vital-range > span {
    flex: 1;
    font-size: 10px;
    text-align: center;
    color: gray;
}
.vital-range > span:first-child,
.vital-range > span:last-child {
    font-size: 12px;
    color: black;
}
.vital-input > input[type="checkbox"] {
    display: none;
}
.vital-input > input[type="checkbox"] + label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    background: #eee;
    padding: 0 10px;
    border-radius: 4px;
    transition: 0.3s all;
}
.vital-input > input[type="checkbox"]:checked + label {
    color: white;
    text-decoration: line-through;
    background: var(--main-color);
}
.vital-input > input[type="checkbox"]:disabled + label {
    color: gray;
    background: #aaa;
}
.vital-input > input[type="checkbox"] + label::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: white;
    border: 3px solid gray;
    box-sizing: border-box;
    transition: 0.3s all;
}
.vital-input > input[type="checkbox"]:checked + label::before {
    border: 0;
    margin: 0 auto 0 0;
    transform: rotate(45deg);
}
.vital-input > span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 240px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--gothic-bold);
    font-size: 14px;
    text-align: center;
    color: #2a2a2a;
    background: white;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: 0.3s opacity;
    pointer-events: none;
}
.vital-input > span.hidden {
    opacity: 0;
}
#recommend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.vital-recommend {
    width: 100%;
    height: 100%;
    padding: 0;
}
.vital-recommend > video,
.vital-recommend > iframe {
    width: 100%;
    height: 100%;
    border: 0;
}